<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head></head>

<body>

<div>Tracks.sqlite</div>

<div>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Distance</th>
            <th>Start time</th>
            <th>End time</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="track: ${tracks}">
            <td th:text="${track.name}">-</td>
            <td th:text="${track.distance}">-</td>
            <td th:text="${track.startTimeS}">-</td>
            <td th:text="${track.endTimeS}">-</td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>